/* VARIABLES */
.card-container {
  /* BACKGROUND COLOURS */
  --main-color: rgb(0,91,91);
  --second-color: rgb(0, 153, 121);
  --third-color: rgb(173, 220, 210);
  /* TEXT COLOURS */
  --main-text-color: rgb(247, 247, 247);
  --second-text-color: rgb(19, 19, 19);
  /* TRANSPARENT COLOURS */
  --main-color-tp: rgba(0, 91, 91, 0.6);
  --second-color-tp: rgba(173, 220, 210, 0.6);
  --third-color-tp: rgba(82, 108, 105, 0.4);
}

@font-face {
  font-family: "fifa_welcomeregular";
  src: url("./fonts/fifawelcome1.3-webfont.woff2") format("woff2"),
    url("./fonts/fifawelcome1.3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.card-container {
  margin: 10px;
  height: 600px;
  width: 420px;
  font-family: "fifa_welcomeregular";
  background: var(--second-color);
  background: linear-gradient(
    0deg,
    var(--main-color) 0%,
    var(--third-color) 50%,
    var(--main-color) 100%
  );
  border: 1px var(--second-text-color) solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brasil {
  background: "yellow";
background: linear-gradient(
  0deg,
  rgb(253, 249, 0) 0%,
  rgb(0,92,93) 50%,
  var(--main-color) 100%
);}
.rectangle {
  height: 93%;
  width: 91%;
  border: 1px var(--main-text-color) solid;
}
.top-container {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrap {
  height: 100%;
  display: flex;
}
.con-1 {
  display: flex;
  width: 100%;
  height: 100%;
}
.separador3 {
  background-image: url(./assets/separador3.png);
  background-size: cover;
  width: 1%;
  height: 100%;
}
.con-2 {
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 100%;
}
.separador1-a {
  background-image: url("./assets/finaldefinales.png");
  background-size: cover;
  height: 0.8px;
  width: 100%;
}
.separador1-b {
  background-image: url("./assets/separadorfinal.png");
  background-size: cover;
  background-position: left;
  height: 0.8px;
  width: 100%;
}
.left-top {
  display: flex;
  flex-direction: column;
  width: 27%;
  background: var(--main-color);
  background: linear-gradient(
    0deg,
    var(--main-color) 0%,
    var(--second-color) 100%
  );
}
.right-top {
  width: 100%;
  height: 100%;
  background: var(--third-color);
  background: linear-gradient(
    0deg,
    var(--second-color-tp) 32%,
    var(--main-color-tp) 100%
  );
}
.stadium {
  width: 73%;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/stadium.png);
  background-size: cover;
}
.space-top {
  height: 10%;
  width: 100%;
}
.player-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
  width: 100%;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.names-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 10%;
}
.wrap2 {
  display: flex;
  height: 98%;
  align-items: center;
}
.player-name {
  margin: 0;
  color: var(--main-text-color);
  font-size: 2em;
}
.separador2 {
  height: 0.8px;
  width: 100%;
  background-image: url("./assets/separador.png");
  background-size: cover;
}
.field {
  height: 45%;
  background-image: url("./assets/field.png");
  background-size: contain;
}
.bottom-container {
  background: var(--second-color);
  background: linear-gradient(
    0deg,
    var(--third-color-tp) 0%,
    var(--third-color-tp) 50%,
    var(--main-color) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating {
  font-size: 3em;
  margin: 0;
  color: var(--main-text-color);
}
.position {
  margin: 0;
}
.country-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country-flag {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40%;
  width: 60%;
  border-radius: 50%;
}
.space-top-stats {
  height: 10%;
}
.stats {
  color: var(--second-text-color);
  height: 65%;
  width: 70%;
  font-size: 2em;
  display: flex;
  justify-content: center;
}
.logo-container {
  height: 25%;
}
.logo {
  height: 40px;
  width: 40px;
  background-image: url("./assets/logo.png");
  background-size: cover;
}
.att-stat {
  color: var(--main-text-color);
  font-size: 0.6em;
}

