@font-face {
  font-family: "fifa_welcomeregular";
  src: url("./fonts/fifawelcome1.3-webfont.woff2") format("woff2"),
    url("./fonts/fifawelcome1.3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.card-container {
  height: 600px;
  width: 420px;
  font-family: "fifa_welcomeregular";
  margin-left: 20px;
  background-color: #005d5c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle {
  height: 93%;
  width: 91%;
}
.top-container {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrap {
  height: 99%;
  display: flex;
}
.separador1-a {
  background-image: url("./assets/finaldefinales.png");
  background-size: cover;
  height: 0.8px;
  width: 100%;
}
.separador1-b {
  background-image: url("./assets/separadorfinal.png");
  background-size: cover;
  background-position: left;
  height: 0.8px;
  width: 100%;
}
.left-top {
  display: flex;
  flex-direction: column;
  width: 27%;
  background: rgb(0, 91, 91);
  background: linear-gradient(
    0deg,
    rgba(0, 91, 91, 1) 0%,
    rgba(0, 153, 121, 1) 100%
  );
}
.right-top {
  width: 100%;
  height: 100%;
  background: rgb(173, 220, 210);
  background: linear-gradient(
    0deg,
    rgba(173, 220, 210, 0.6) 32%,
    rgba(0, 169, 148, 0.6) 100%
  );
}
.stadium {
  width: 73%;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/stadium.png);
  background-size: cover;
}
.space-top {
  height: 10%;
  width: 100%;
}
.player-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
  width: 100%;
  background-image: url("https://futhead.cursecdn.com/static/img/20/players/icon-stories/190042.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.names-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #005d5c;
  height: 10%;
}
.wrap2 {
  display: flex;
  height: 98%;
  align-items: center;
}
.player-name {
  margin: 0;
  color: rgb(247, 247, 247);
  font-size: 2em;
}
.separador2 {
  height: 1px;
  width: 100%;
  background-image: url("./assets/separador.png");
  background-size: cover;
}
.field {
  height: 45%;
  background-image: url("./assets/field.png");
  background-size: contain;
}
.bottom-container {
  background: rgb(67, 158, 141);
  background: linear-gradient(
    0deg,
    rgba(67, 158, 141, 0.4) 0%,
    rgba(82, 108, 105, 0.4) 50%,
    rgba(0, 93, 92, 1) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating {
  font-size: 3em;
  margin: 0;
  color: white;
}
.position {
  margin: 0;
}
.country-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country-flag {
  background-image: url("https://countryflagsapi.com/png/ar");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40%;
  width: 60%;
  border-radius: 50%;
}
.space-top-stats {
  height: 10%;
}
.stats {
  color: rgb(19, 19, 19);
  height: 65%;
  width: 70%;
  font-size: 2em;
  display: flex;
  justify-content: center;
}
.logo-container {
  height: 25%;
}
.logo {
  height: 40px;
  width: 40px;
  background-image: url("./assets/logo.png");
  background-size: cover;
}
.att-stat {
  color: whitesmoke;
  font-size: 0.6em;
}

